<h1><%= game.title %></h1>
<h2><img src="<%= game.img %>" style="width: 250px" /></h2>
<h2><%= game.publisher %></h2>
<h2><%= game.category %></h2>
<h2><%= game.year %></h2>
<h2><%= game.price %></h2>
<h2><%= game.description %></h2>
<a href="/cart/<%=game._id %>">Add To Cart</a>
